<h1>Listing quotes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Price</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.user_id %></td>
        <td><%= quote.project_id %></td>
        <td><%= quote.price %></td>
        <td><%= quote.details %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
